<li>
  <span class="review"><%= review.review %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
  <% if current_user?(review.user) %>
    <%= link_to "delete", review, method: :delete,
                                  data: { confirm: "You sure?" },
                                  title: review.review %>
  <% end %>
</li>